.container {
  width: 60rem;
  margin-top: 8rem;
  background-color: #d5d8dc;
  padding: 1.5rem 6.5rem;
  border-radius: 0.5rem;

  header {
    margin: 2.5em 0 3em 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #adadad;
  }
}
