
.container {
  width: 60rem;
  margin-top: 8rem;
  background-color: #d5d8dc;
  padding: 1.5rem 6.5rem;
  border-radius: 0.5rem;
}
.intro {
  margin-bottom: 1.5rem;
}
.intro hr {
  margin-bottom: 2rem;
}

.popular-users {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #adadad;
}

.notes {
  margin-bottom: 2rem;
}
